/* Global */

body {
	/*font-family: 'Open Sans', sans-serif;*/
	/*font-family: 'Monaco', serif;*/
	font-family: "proxima-nova",sans-serif;
	font-weight: 400;
	font-size: 1em;
	/*color: #8a8683;*/
	color: #fffbeb;
	background-color:#ffffff;
	/*overflow: hidden;*/
	/*height: 1439px;*/
}

h1, h3 {
	letter-spacing: 0.0625em;
}

p {
	font-family: "adelle", serif;
}

.print {
	font-style: italic;
	color: #d26147;
}

.box {
	border: 6px solid;
}

.wrapper {
	width: 530px;
	margin: 50px auto;
	text-align: center;
}

.wrapper2 {
	width: 338px;
	margin-left: 75px;
}

.upper {
	text-transform: uppercase;
	font-weight: 600;
}

.italic {
	font-family: 'adelle', serif;
	font-weight: 300;
	font-style: italic;
}

.company {
	font-weight: 100;
}

.align {
	padding-top: 61px;
}

.time {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.red {
	color: #602721;
}

img {
	max-width: 100%;
}
a:link {
	color: #f68f67;
	text-decoration: none;
}
a:hover {
	/*color: #bde2df;*/
	text-decoration: none;
}
a:visited {
	color: #f68f67;
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
}
li {
	/*font-family: 'adelle', serif;*/
	font-family: 'proxima-nova', sans-serif;
	/*font-weight: 700;*/
}
.bridge1 {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 150px;
	height: 150px;
	background: url(../images/BridgeHexDark.svg);
	background-size: 150px 150px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
}

.bridge2 {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;	width: 150px;
	height: 150px;
	background: url(../images/BridgeHexLight.svg);
	background-size: 150px 150px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
}

.bridge3 {
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;	width: 150px;
	height: 150px;
	background: url(../images/BridgeHexMed.svg);
	background-size: 150px 150px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
}
.median {
	max-width: 960px;
	position: relative;
	margin: 0 auto;
	height: auto;
	/*height: 150px;*/
}
/* Navigation */

.menu {
	position:fixed;
	top:0px;
	left: 50%;
	margin-left: -480px;
	/*width:100%; */
	width: 960px;
	height:auto; 
	background-color:#2b251d;
	z-index:100;
	/*padding-bottom: 25px;*/
}
#logo {
	/*text-align: center;*/
	/*margin: 10px 0;*/
	margin: 0px;
}
#logo img {
	float: left;
}
#logo h1 {
	margin: 0;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
	padding-top: 10px;
	padding-left: 10px;
}

#logo h4 {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	padding-left: 70px;
	width: 101px;
}
#nav {
	text-align: right;
	margin: 20px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li{
	font-family: "proxima-nova",sans-serif;
	float: left;
	margin:0 0 0 15px;
	color: #fffbeb;
	text-transform: uppercase;
}
.navigation li:hover{
	cursor:pointer;
	/*color: #a9d3d0;*/
	color: #d26147;
}

.navigation .active{
	cursor:pointer;
	/*color: #f68f67;*/
	font-weight:bold;
}

.navigation li.active {
	border-top: 2px solid #d26147;
	border-bottom: 2px solid #d26147;
}



/* General Slides */ 

.slide{
	background-attachment: fixed;
	/*width:100%;*/
	max-width: 960px;
	margin: 0 auto;
	height:auto;
	position: relative;
	padding:140px 0;
}



/* Slide 1 */ 

#slide1 {
	background-color:#fffbeb;
}
#slide1 h1 {
	font-size: 3.8em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide1 h2 {
	font-size: 2em;
	color: #602721;
	/*line-height: 0px;*/
	padding-bottom:20px;
	font-weight: 700;
	text-transform: uppercase;
}

#slide1 p {
	text-align: center;
	color: #602721;
	font-size: 1.25em;
}




/* Slide 2 About */ 

#slide2, #slide8 {
	/*background-image:url('../images/footprints.png');*/
	background-color:#d26147;
	color:#ffffff;
}
#slide2 h1 {
	/*font-size: 3.8em;*/
	font-size: 2em;
	display: inline;
	padding: 10px;
	/*letter-spacing: -3px;*/
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
	text-transform: uppercase;
}

#slide2 h2, #slide h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide2 h3, #slide8 h3 {
	text-transform: uppercase;
}

#slide2 a {
	color: #602721;
	font-weight: 400;
}

/* Slide 3 */ 

#slide3{
	background-color:#602721;
}
#slide3 h1 {
	/*font-size: 3.8em;*/
	display: inline;
	padding: 10px;
	font-size: 2em;
	/*letter-spacing: -3px;*/
	line-height: 0px;
	color:#fffbeb;
	font-weight: 700;
	text-transform: uppercase;
}
#slide3 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide3 h3 {
	/*border-bottom: 1px solid #d26147;
	display: inline;*/
	text-transform: uppercase;
}

#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}




/* Slide 4 */

#slide4{
	/*background-image:url('../images/sunglasses.png');*/
	background-color:#fffbeb;
	color:#ffffff;
}
#slide4 h1 {
	display: inline;
	padding: 10px;
	/*font-size: 3.8em;*/
	/*letter-spacing: -3px;*/
	line-height: 0px;
	color:#602721;
	font-weight: 700;
	text-transform: uppercase;

}
#slide4 h2 {
	font-size: 2em;
	color: #602721;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide4 h3 {
	color: #602721;
	text-transform: uppercase;
	/*text-align: center;*/
}
#slide4 p {
	color: #602721;
	padding-top: 90px;
}

#slide4 li {
	color: #602721;
	list-style: none;
	font-family: 'adelle', serif;
}
#slide4 img {
	/*padding-left: 40px;*/
}

.wrapper3 {
	width: 216px;
	margin-left: 75px;
}

/*Slide 5 Judges */
#slide5{
	/*background-image:url('../images/sunglasses.png');*/
	background-color:#d26147;
	color:#ffffff;
}
#slide5 h1 {
	/*font-size: 3.8em;*/
	/*letter-spacing: -3px;*/
	font-family: 'proxima-nova', sans-serif;
	display: inline;
	padding: 10px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
	text-transform: uppercase;
	/*text-align: center;*/

}
#slide5 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

#slide5 h3 {
	text-transform: uppercase;
	font-weight: 600;
}

#slide5 h4 {
	font-family: 'adelle', serif;
	font-weight: 300;
	margin-top: 0;
}

#slide5 p {
	color: #ffffff;
	font-family: 'adelle', serif;
	font-weight: 300;
}

#slide5 .grid_2 img {
	margin-top: 21px;
}

#slide5 a {
	color: #fff;
}

.judgesWrapper {
	margin: 0 auto;
	width: 700px;
}

/* Slide 6 Partners */
#slide6{
	/*background-image:url('../images/sunglasses.png');*/
	background-color:#602721;
	color:#ffffff;
}
#slide6 h1 {
	/*font-size: 3.8em;*/
	/*letter-spacing: -3px;*/
	display: inline;
	padding: 10px;
	line-height: 0px;
	color:#fffbeb;
	font-weight: 700;
	text-transform: uppercase;

}
#slide6 h2 {
	font-size: 2em;
	color: #fffbeb;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}
#slide6 p {
	color: #fffbeb;
}

#slide6 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Slide 7 FAQs */ 

#slide7 {
	background-color:#fffbeb;
}
#slide7 h1 {
	/*font-size: 3.8em;*/
	/*letter-spacing: -3px;*/
	display: inline;
	padding: 10px;
	line-height: 0px;
	color:#602721;
	font-weight: 700;
	text-transform: uppercase;
}
#slide7 h2 {
	font-size: 2em;
	color: #602721;
	/*line-height: 0px;*/
	padding-bottom:20px;
	font-weight: 700;
	text-transform: uppercase;
}
#slide7 h3 {
	color: #602721;
	font-family: 'proxima-nova', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}

#slide7 p {
	/*text-align: center;*/
	font-weight: 300;
	color: #602721;
	font-size: 16px;
}

#slide7 li {
	color: #602721;
	font-family: 'adelle', serif;
	margin-left: 45px;
}

.faqWrapper {
	margin: 0 auto;
	width: 700px;
}

/* Slide 8 Register Section */
#slide8 h1 {
	/*font-size: 3.8em;*/
	font-size: 2em;
	display: inline;
	padding: 10px;
	/*letter-spacing: -3px;*/
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.0625em;
}

#slide8 h2 {
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 0.0625em;
}

#slide8 img {
display: block;
margin-top: 0;
margin-left: auto;
margin-right: auto;
padding-bottom: 20px;
}

#slide8 a {
	color: #fff;
}

/* Footer */
#slide9 {
	background-color: #000;
	padding: 0;
}

#slide9 p {
	font-family: 'proxima-nova', sans-serif;
	display: inline;
	font-size: 15px;
	color: #fff;
	position: relative;
	bottom: 21px;
	letter-spacing: 0.0625em;
	font-weight: 600;
}

#slide9 img {
	margin-top: 15px;
}

footer {
	margin-left: 55px;
}

/* Judges Section */
/*.judges {
	width: 700px;
	margin: 10px auto 0;
}
*/
/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	/*text-align: center;*/
	margin-left: 340px;
}

#nav {
	width:100%;
	/*text-align:center;*/
	margin:10px 0 0 150px;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	/*width:25%;*/
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

.wrapper, .faqWrapper, .wrapper2, .wrapper3, .judgesWrapper {
	width: 100%;
	margin: 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
	text-align: center;
}

#nav ul     { display: none; }
#nav select { display: inline-block; }

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

/*.navigation li{
	float: left;
	width:25%;
}*/

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}


}




